{% extends './base.html'%}

{% block content %} 

<div class="alert alert-success"> Register </div>

<div class="container">
    <form class="column g-2">
        <div class="col-md-6">
            <label for="nomefantasia" class="form-label">Nome Fantasia</label>
            <input type="email" class="form-control" id="inputname">
            </div>
        <div class="col-md-6">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputname">
        </div>
        <div class="col-md-6">
            <label for="Password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="inputpass">
        </div>
        <div class="col-md-6">
            <label for="Password" class="form-label">Confirme a Senha</label>
            <input type="password" class="form-control" id="inputpass">
        </div>
        <div class="col-md-3">
            <br/>
            <input type="button" class="btn btn-success" id="inputpass" value=" Registrar ">
        </div>
    <form>
</div>

{% endblock %}